# Environment variables / secrets
.env
.env.*
*.env

# Dependencies
node_modules/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Editor-specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp